html{
    background-color: #333333;
}
img{
    cursor: pointer;
}

.el-carousel{
    margin-left: 20%;
    background-color: #FFFFFF;
    width: 60%;
    color: #000000;
}
.el-carousel h1{
    color: blue;
    display: inline;
    /*float: left;*/
}
.el-carousel h3{
    color: #007cc4;
    left: 0;
    display: block;
    /*display: inline;*/
}
.el-carousel p{
    display: inline;
}